.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.profile-card {
  width: 400px;
  height: 540px;
  background-color: #313131;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.profile img {
  width: 100%;
  object-fit: cover;
}
.posts-id {
  width: 100%;
  padding: 2rem 5rem;
}
.posts-id h2{
  margin-bottom: 1rem;
}
.posts-id button{
  width: 25%;
  padding: 1rem 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #007bff;
  border:1px solid aliceblue;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.posts-id button:hover{
  background-color: #1078e8;
}